<!DOCTYPE html>
<html>
  <head>
    <title>Liverpool Bars Around The World</title>
    <%= turbo_boost.meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "hello", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <%= render Shared::FlashComponent.new(type: type, text: msg) %>
    <% end %>

    <%= render 'shared/navbar'  %>
    <!-- <div class="pt-28 px-16 pb-4 bg-gray-100"> -->
    <div class="text-gray-700 bg-gray-50">
      <%= yield %>
    </div>
  </body>
</html>
