<!DOCTYPE html>
<html>
  <head>
    <title>LiverpoolBarsAroundTheWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "hello", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar'  %>
    <!-- <div class="pt-28 px-16 pb-4 bg-gray-100"> -->
    <div class="text-gray-700">
      <%= yield %>
    </div>
  </body>
</html>
